// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); //amatica sc, para títulos

// www.wfonts.com
@font-face { 
    font-family: 'thabit'; // para textos
    src:  url("../fonts/ThabitBoldBold.ttf");
    font-weight: bold;
} 